{% extends 'user/BASE.html' %}

{% block content %}
<section class=" min-h-screen flex items-center justify-center">
    <form method="post" class="container max-w-2xl mx-auto px-6 py-8 bg-white rounded-lg shadow-lg mb-8 mt-8">
        {% csrf_token %}

        <div class="flex justify-center items-center mb-6 px-6 py-8 rounded-lg shadow" style="background-color: #E7F6EE;">
            <i class="fa-solid fa-edit text-gray-800 text-4xl mr-3"></i>
            <h1 class="text-3xl font-bold text-gray-800">Update Event</h1>
        </div>

        <div class="space-y-6">
            <div>
                <label for="title" class="block text-xl font-medium text-gray-700">Title</label>
                <input
                    type="text"
                    id="title"
                    name="title"
                    value="{{ task.title }}"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-lime-200 focus:border-lime-200"
                    required
                />
            </div>

            <div>
                <label for="details" class="block text-xl font-medium text-gray-700">Details</label>
                <textarea
                    rows="5"
                    id="details"
                    name="details"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-lime-200 focus:border-lime-200"
                    required
                >{{ task.details }}</textarea>
            </div>

            <div>
                <label for="event_date" class="block text-xl font-medium text-gray-700">Event Date</label>
                <input
                    type="date"
                    id="event_date"
                    name="event_date"
                    value="{{ task.event_date|date:'Y-m-d' }}"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-lime-200 focus:border-lime-200"
                    required
                />
            </div>

            <div class="flex space-x-4">
                <div class="w-1/2">
                    <label for="starting_time" class="block text-xl font-medium text-gray-700">Starting Time</label>
                    <input
                        type="time"
                        id="starting_time"
                        name="starting_time"
                        value="{{ task.starting_time|time:'H:i' }}"
                        class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-lime-200 focus:border-lime-200"
                    />
                </div>
                <div class="w-1/2">
                    <label for="ending_time" class="block text-xl font-medium text-gray-700">Ending Time</label>
                    <input
                        type="time"
                        id="ending_time"
                        name="ending_time"
                        value="{{ task.ending_time|time:'H:i' }}"
                        class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-lime-200 focus:border-lime-200"
                    />
                </div>
            </div>

            <div class="text-center">
                <button
                    type="submit"
                    class="inline-flex items-center px-4 py-2 border border-transparent text-2xl font-medium rounded-md shadow-sm bg-green-600 text-white hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                >
                    Update Task
                </button>
            </div>
        </div>
    </form>
</section>
{% endblock %}
