{% extends 'user/BASE.html' %}

{% block content %}
<section class="text-gray-600 body-font min-vh-100">
    <form method="post">
        {% csrf_token %}
        <div class="container px-5 py-24 mx-auto">
            <div class="flex lg:w-2/5 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
                <div class="relative flex-grow w-full">
                    <label for="title" class="leading-7 text-sm text-gray-600">Title</label>
                    <input type="text" id="title" name="title" value="{{ task.title }}"
                           class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
            </div>

            <div class="flex lg:w-2/5 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
                <div class="relative flex-grow w-full">
                    <label for="details" class="leading-7 text-sm text-gray-600">Details</label>
                    <textarea rows="5" id="details" name="details" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">{{ task.details }}</textarea>
                </div>
            </div>

            <div class="flex lg:w-2/5 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end pt-4">
                <div class="relative max-w-sm">
                    <input id="event_date" type="date" name="event_date" value="{{ task.event_date|date:'Y-m-d' }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date" required>
                </div>
            </div>

            <div class="flex lg:w-2/5 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 pt-4">
                <div class="max-w-[8rem] mx-auto">
                    <label for="starting_time" class="block mb-2 text-sm font-medium text-gray-900">Starting Time:</label>
                    <input type="time" id="starting_time" name="starting_time" value="{{ task.starting_time|time:"H:i" }}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                </div>
                <div class="max-w-[8rem] mx-auto">
                    <label for="ending_time" class="block mb-2 text-sm font-medium text-gray-900">Ending Time:</label>
                    <input type="time" id="ending_time" name="ending_time" value="{{ task.ending_time|time:"H:i" }}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                </div>
            </div>

            <div class="p-8 flex flex-row-reverse pr-96">
                <button type="submit" class="text-white bg-slate-800 hover:bg-slate-600 border-0 py-2 px-8 focus:outline-none rounded text-lg">
                    Update Task
                </button>
            </div>
        </div>
    </form>
</section>
{% endblock %}
