{% extends 'user/BASE.html' %}
{% block content %}
{% load static %}

<section class="text-gray-600 body-font py-24">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-2/6 md:w-1/2 bg-white/30 shadow-md rounded-xl p-6 w-full max-w-5xl hover:shadow-lg transition-shadow backdrop-blur-lg border border-white/20 flex flex-col">
                <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Login</h2>

                <div class="relative mb-4">
                    <label for="username" class="leading-7 text-sm text-gray-600">Username</label>
                    <input type="text" id="username" name="username" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                </div>
                <div class="relative mb-4">
                    <label for="password" class="leading-7 text-sm text-gray-600">Password</label>
                    <input type="password" id="password" name="password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                </div>
                
                <button type="submit" class="inline-block bg-green-600 hover:bg-green-500 text-white px-6 py-3 rounded-xl shadow-md hover:shadow-lg transition duration-200 text-lg font-semibold">Login</button>

                {% if form.errors %}
                    <div class="mb-4 text-red-500">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
</section>

{% endblock %}
