{% extends 'user/BASE.html' %}
{% block content %}

<article class="p-6 text-base bg-white border border-gray-200 dark:border-gray-700 dark:bg-gray-900 mb-6 rounded-lg">
    <header class="mb-4">
        <div class="flex items-center">
            <img class="w-10 h-10 rounded-full mr-3" src="{{ post.author.patient.image.url }}" alt="Author Image">
            <div>
                <h2 class="text-lg font-bold text-gray-900 dark:text-white">{{ post.author.username }}</h2>
                <time class="text-sm text-gray-500 dark:text-gray-400" datetime="{{ post.updated_at }}">
                    {{ post.updated_at }}
                </time>
            </div>
        </div>
    </header>
    <div>
        <h1 class="text-2xl font-bold text-gray-900 dark:text-white mb-2">{{ post.title }}</h1>
        <p class="text-gray-700 dark:text-gray-300">{{ post.content }}</p>
        {% if post.image %}
        <div class="mt-4">
            <img class="w-full rounded-lg" src="{{ post.image.url }}" alt="Post Image">
        </div>
        {% endif %}
    </div>
</article>

<section class="bg-white dark:bg-gray-900 py-8 lg:py-16 antialiased">
    <div class="max-w-2xl mx-auto px-4">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                <label for="id_content" class="sr-only">Your comment</label>
                <textarea id="id_content" name="content" rows="6"
                          class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                          placeholder="Write a comment..." required></textarea>
            </div>
            <button type="submit"
                    class="inline-flex items-center py-2.5 px-4 text-xs text-white font-medium text-center bg-indigo-400 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Post comment
            </button>
        </form>
        {% for comment in comments %}
            <article class="p-6 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <footer class="flex justify-between items-center mb-2">
                    <div class="flex items-center">
                        <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"><img
                                class="mr-2 w-6 h-6 rounded-full"
                                src="{{ comment.author.patient.image.url }}"
                                alt="Helene Engels">{{ comment.author.username }}</p>
                        <p class="text-sm text-gray-600 dark:text-gray-400">
                            <time pubdate datetime="2022-06-23"
                                  title="June 23rd, 2022">{{ comment.created_at }}
                            </time>
                        </p>
                    </div>
                    <button id="dropdownComment4Button" data-dropdown-toggle="dropdownComment4"
                            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-40 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                            type="button">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                             viewBox="0 0 16 3">
                            <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdownComment4"
                         class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownMenuIconHorizontalButton">
                            <li>
                                <a href="{% url 'edit_comment' comment.id %}"
                                   class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                            </li>
                            <li>
                                <a href="{% url 'delete_comment' comment.id %}"
                                   class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                            </li>
                        </ul>
                    </div>
                </footer>
                <p class="text-gray-500 dark:text-gray-400">{{ comment.content }}</p>
            </article>
        {% endfor %}
    </div>
</section>






{% endblock %}